<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
				<key>dateExpires</key>
				<string>2021/5/13</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>appupdate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>catcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_mailer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_qr_reader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>imei_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>open_appstore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17C6EC3BACEB900EF7EA3CB45A4EB00E3C5FBEB4</string>
						<key>dateExpires</key>
						<string>2021/5/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XCKW5F9L43</string>
						<key>name</key>
						<string>lina chai</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XCKW5F9L43.com.dyys.ccmisapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XCKW5F9L43</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XCKW5F9L43.com.dyys.ccmisapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c1e7524d-a400-4d53-8ef5-d03ac778e345</string>
				<key>name</key>
				<string>ccmisapp_re_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XCKW5F9L43</string>
				<key>name</key>
				<string>lina chai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
